<% layout("/layouts/boilerplate") %>
<head><link rel="stylesheet" href="/css/card.css"> </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <!-- <form action="/listings/new" method="get">
                    <button class="btn btn-success">NEW LISTING</button>
                </form> -->
            </div>
        </div>
        <div class="row">
            <% for(let list of allListings){ %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= list.image.url %>" class="card-img-top" alt="Listing Image">
                    <div class="card-body">
                        <h5 class="card-title"><%= list.title %></h5>
                        <p class="card-text">&#8377; <%= list.price.toLocaleString("en-IN") %></p>
                        <a href="/listings/<%= list._id %>" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>
