/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Ensure the body takes up the full height of the viewport */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full viewport height */
}

/* Main content area */
.content {
    flex: 1; /* Take up remaining vertical space */
    padding: 20px; /* Example padding for content area */
}

/* Footer styles */
footer {
    background-color: #f8f9faf0;
    padding: 20px 0;
    border-top: 1px solid #e9ecef;
    margin-top: auto; /* Push footer to the bottom */
}

.f-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    color: #495057;
}

.f-social i {
    font-size: 24px;
    margin: 0 10px;
    color: #495057;
    transition: color 0.3s ease;
    margin-bottom: 20px;
}

.f-social i:hover {
    color: #007bff;
}

.f-name {
    font-size: 14px;
    color: rgb(236, 25, 25);
    margin-bottom: 20px;
}

.f-links a {
    color: #495057;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    margin-bottom: 5px;
}

.f-links a:hover {
    color: #007bff;
}
